* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
}
#container {
  max-width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(257, 40%, 49%);
}
@media screen and (max-width: 375px) {
  #container {
    max-width: 375px;
    display: block;
  }
}

#container #page {
  background: url("images/bg-desktop.svg");
  background-size: 100% 100%;
  padding: 40px;
}
@media screen and (max-width: 375px) {
  #container #page {
    width: 100%;
    background: url("images/bg-mobile.svg");
  }
}
#container #page .logo {
  margin-bottom: 80px;
}
@media screen and (max-width: 375px) {
  #container #page .logo {
    margin-bottom: 50px;
  }
}
#container #page .logo img {
  width: 250px;
  height: 50px;
}
@media screen and (max-width: 375px) {
  #container #page .logo .img {
    max-width: 250px;
  }
}
#container #page .midle {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
@media screen and (max-width: 375px) {
  #container #page .midle {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    text-align: center;
  }
}
#container #page .midle > div {
  width: 50%;
}
@media screen and (max-width: 375px) {
  #container #page .midle > div {
    width: 100%;
  }
}
#container #page .midle .container-image img {
  width: 100%;
  /* background-image: url("images/illustration-mockups.svg"); */
}
#container #page .midle .info {
  padding: 15px 40px;
}
@media screen and (max-width: 375px) {
  #container #page .midle .info {
    padding: 0;
  }
}
#container #page .midle .info h1 {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-transform: capitalize;
  word-spacing: 5px;
}
@media screen and (max-width: 375px) {
  #container #page .midle .info h1 {
    font-size: 130%;
    word-spacing: 3px;
    margin-top: 25px;
  }
}
#container #page .midle .info p {
  color: hsl(0, 0%, 100%, 0.5);
  font-weight: 400;
  font: 80%;
  margin-top: 13px;
  margin-bottom: 15px;
}
#container #page .midle .info button {
  border: none;
  outline: none;
  background-color: hsl(0, 0%, 100%);
  margin-top: 12px;
  width: 120px;
  text-align: center;
  padding: 8px 15px;
  cursor: pointer;
  font-size: 90%;
  font-weight: 400;
  color: hsl(257, 40%, 49%);
  border-radius: 20px;
  transition: 0.5s ease-in-out;
}
@media screen and (max-width: 375px) {
  #container #page .midle .info button {
    width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
}
#container #page .midle .info button:hover {
  background-color: hsl(300, 69%, 71%);
  color: hsl(0, 0%, 100%, 0.5);
}
#container #page .social {
  text-align: right;
  margin-top: 15px;
}
@media screen and (max-width: 375px) {
  #container #page .social {
    text-align: center;
    margin-top: 25px;
  }
}
#container #page .social a {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  text-align: center;
  margin-right: 10px;
  padding: 8px;
  transition: 0.3s ease-in-out;
}
#container #page .social a:last-child {
  margin-right: 0;
  color: hsl(300, 69%, 71%);
}
#container #page .social a:hover {
  border-color: hsl(300, 69%, 71%);
}
#container #page .social a i {
  display: block;
  color: hsl(0, 0%, 100%);
  line-height: 10px;
  font-size: 90%;
  transition: 0.3s ease-in-out;
}
#container #page .social a:hover i {
  color: hsl(300, 69%, 71%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/*i got topoint were i have to fix the phone size*/
